<%- include ('../partials/header') %> <%- include ('../partials/menu') %>
<div class="col"><%- include ('../partials/message') %></div>

<main>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-5">
            <% results.forEach(item=> { %>
                <div class="col-mb-4">
                    <div class="card h-100">
                        <img src="<%= item.image %>" class="card-img-top" alt="Event Image">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= item.name %>
                            </h5>
                            <p class="card-text">
                                <%= item.date %>
                                <%= item.overview %>
                            </p>
                            <!-- <a href="<%= event.bookingUrl %>" class="btn btn-primary">Book Now</a> -->
                        </div>
                    </div>
                </div>
                <% }) %>
        </div>
    </div>
</main>
<%- include ('../partials/footer') %>